<h1>お気に入りチャンネルを登録する</h1>

<h2>YoutubeのチャンネルIDを登録してください</h2>

<%= form_tag("/user_channels", method: "post") do %>
  <%= label_tag :youtube_channel_id, "YouTube チャンネルID" %>:
  <%= text_field_tag :youtube_channel_id %>
  <br>
  <%= label_tag :name, "チャンネル名" %>:
  <%= text_field_tag :name %>
  <br>

  <%= submit_tag("チャンネル登録する") %>

<% end %>